* {
    font-size: 20px;
}
h1, h2 {
    color: red;
}

h1:hover {
    color: rgb(209, 84, 84);
    
}

p{
    color: green;
}
.cor-laranja{
    color: orange;
}
.cor-laranja:hover {
    color: rgb(228, 186, 110);
}

.card img {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 40px 20px 20px 30px;
    padding: 10px;
}


#table {
    color: blueviolet;
}